button {
    cursor: pointer;
}

.input__form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.input__value {
    border: 1px solid #312b3f;
    color: white;
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 5px;
    background-color: #201C29;
}

.input__button {
    margin-top: 10px;
    height: 50px;
    width: 100%;
    background-color: #F77D0B;
    text-align: center;
    font-size: 1.2rem;
	font-weight: 800;
	color: white;
    padding: 0.4rem;
    border-bottom: 10px solid #eb7100f8;
}

.input__notfound {
    font-weight: 800;
    font-size: 25px;
}